figure {
    align-self: left;
}

article {
    background-color: rgb(206, 147, 238);
    border-style: groove;
    border-radius: 10px;
    margin: 0px;
    padding: 5px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';
    color: rgb(240, 236, 241);
    align-self: right;

}

a {
    color: blueviolet;
}

.button {
    display: inline-block;
    background-color: blueviolet;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.button:hover {
    background-color: rgb(172, 129, 212);
}